// 1. import initial variables
@import '../../node_modules/bulma/sass/utilities/initial-variables'

// 2. Set your own initial variables

$blue: #72d0eb

// variables
$orange: #fa6900
$orange-light: #F38630
$grey: #A6A6A6
$water: #46BCEC
$background-color: #E0E4CC
$conditions-color: rgba(255, 255, 255, 0.2)
$default-padding: 2em

// Add a serif family
$family-serif: "Avenir", Helvetica, Arial, sans-serif

// 3. Set the derived variables

// Use the new pink as the primary color
$primary: $orange
$primary-invert: $orange-light

// Use the existing orange as the danger color
$danger: $orange

// Use the new serif family
$family-primary: $family-serif

// 4. Import the rest of Bulma
@import '../../node_modules/bulma/bulma'